@import "tailwindcss";

/* App base */
:root {
  color-scheme: dark;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: #101922; /* background-dark */
  color: white;
  font-family: "Lexend", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;

}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 24;
}